kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: jenkins-master
rules:
  - apiGroups: [""]
    resources: ["deployments"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: jenkins-master
subjects:
  - kind: ServiceAccount
    name: jenkins-service-account
    namespace: jenkins
roleRef:
  kind: Role
  name: jenkins-master
  apiGroup: rbac.authorization.k8s.io